@import 'mixins';
@import 'fonts';
@import 'reset';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  @include screen('desktop') {
    overflow-y: hidden;
  }
}

body {
  font-family: 'Trajan Pro 3', 'Georgia', 'Times New Roman';
  margin: 0;
  font-weight: normal;
  font-style: normal;
  background-color: #020202;
}

img {
  max-width: 100%;
}